<div class="details">
    <span ng-if="!Poster" us-spinner="{radius:30, width:8, length: 16}"></span>
    <h3>
    {{title}}
  </h3>
    <div ng-if="Poster" class="subdetail">
        <div>
            <img src="{{Poster}}" alt="{{title}}" />
        </div>
        <div class="movietext">
            <p>
              Stars: {{actors}}
            </p>
            <p>
              Director: {{director}}
            </p>
            <p>
                {{rated}}
            </p>
            <p>
                {{runtime}}
            </p>
            <p>
                {{year}}
            </p>
        </div>
    </div>
</div>
